*.class
build/
.gradle

*.jar
*.aar
*.war
!gradle-wrapper.jar


.gradle/.gitignore
.idea/.gitignore
build/.gitignore
gradle/.gitignore
gradlew/.gitignore
gradlew.bat/.gitignore
/.gitignore
/build/resources/main/cards/2c.png
/build/resources/main/cards/2d.png
/build/resources/main/cards/2h.png
/build/resources/main/cards/2s.png
/build/resources/main/cards/3c.png
/build/resources/main/cards/3d.png
/build/resources/main/cards/3h.png
/build/resources/main/cards/3s.png
/build/resources/main/cards/4c.png
/build/resources/main/cards/4d.png
/build/resources/main/cards/4h.png
/build/resources/main/cards/4s.png
/build/resources/main/cards/5c.png
/build/resources/main/cards/5d.png
/build/resources/main/cards/5h.png
/build/resources/main/cards/5s.png
/build/resources/main/cards/6c.png
/build/resources/main/cards/6d.png
/build/resources/main/cards/6h.png
/build/resources/main/cards/6s.png
/build/resources/main/cards/7c.png
/build/resources/main/cards/7d.png
/build/resources/main/cards/7h.png
/build/resources/main/cards/7s.png
/build/resources/main/cards/8c.png
/build/resources/main/cards/8d.png
/build/resources/main/cards/8h.png
/build/resources/main/cards/8s.png
/build/resources/main/cards/9c.png
/build/resources/main/cards/9d.png
/build/resources/main/cards/9h.png
/build/resources/main/cards/9s.png
/build/resources/main/cards/10c.png
/build/resources/main/cards/10d.png
/build/resources/main/cards/10h.png
/build/resources/main/cards/10s.png
/build/resources/main/cards/11c.png
/build/resources/main/cards/11d.png
/build/resources/main/cards/11h.png
/build/resources/main/cards/11s.png
/build/resources/main/cards/12c.png
/build/resources/main/cards/12d.png
/build/resources/main/cards/12h.png
/build/resources/main/cards/12s.png
/build/resources/main/cards/13c.png
/build/resources/main/cards/13d.png
/build/resources/main/cards/13h.png
/build/resources/main/cards/13s.png
/build/resources/main/cards/14c.png
/build/resources/main/cards/14d.png
/build/resources/main/cards/14h.png
/build/resources/main/cards/14s.png
/build/resources/main/14s.png
/build/resources/main/cards/ace_of_spades2.png
/build/image/legal/java.base/aes.md
/build/image/bin/api-ms-win-core-console-l1-1-0.dll
/build/image/bin/api-ms-win-core-console-l1-2-0.dll
/build/image/bin/api-ms-win-core-datetime-l1-1-0.dll
/build/image/bin/api-ms-win-core-debug-l1-1-0.dll
/build/image/bin/api-ms-win-core-errorhandling-l1-1-0.dll
/build/image/bin/api-ms-win-core-file-l1-1-0.dll
/build/image/bin/api-ms-win-core-file-l1-2-0.dll
/build/image/bin/api-ms-win-core-file-l2-1-0.dll
/build/image/bin/api-ms-win-core-handle-l1-1-0.dll
/build/image/bin/api-ms-win-core-heap-l1-1-0.dll
/build/image/bin/api-ms-win-core-interlocked-l1-1-0.dll
/build/image/bin/api-ms-win-core-libraryloader-l1-1-0.dll
/build/image/bin/api-ms-win-core-localization-l1-2-0.dll
/build/image/bin/api-ms-win-core-memory-l1-1-0.dll
/build/image/bin/api-ms-win-core-namedpipe-l1-1-0.dll
/build/image/bin/api-ms-win-core-processenvironment-l1-1-0.dll
/build/image/bin/api-ms-win-core-processthreads-l1-1-0.dll
/build/image/bin/api-ms-win-core-processthreads-l1-1-1.dll
/build/image/bin/api-ms-win-core-profile-l1-1-0.dll
/build/image/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
/build/image/bin/api-ms-win-core-string-l1-1-0.dll
/build/image/bin/api-ms-win-core-synch-l1-1-0.dll
/build/image/bin/api-ms-win-core-synch-l1-2-0.dll
/build/image/bin/api-ms-win-core-sysinfo-l1-1-0.dll
/build/image/bin/api-ms-win-core-timezone-l1-1-0.dll
/build/image/bin/api-ms-win-core-util-l1-1-0.dll
/build/image/bin/api-ms-win-crt-conio-l1-1-0.dll
/build/image/bin/api-ms-win-crt-convert-l1-1-0.dll
/build/image/bin/api-ms-win-crt-environment-l1-1-0.dll
/build/image/bin/api-ms-win-crt-filesystem-l1-1-0.dll
/build/image/bin/api-ms-win-crt-heap-l1-1-0.dll
/build/image/bin/api-ms-win-crt-locale-l1-1-0.dll
/build/image/bin/api-ms-win-crt-math-l1-1-0.dll
/build/image/bin/api-ms-win-crt-multibyte-l1-1-0.dll
/build/image/bin/api-ms-win-crt-private-l1-1-0.dll
/build/image/bin/api-ms-win-crt-process-l1-1-0.dll
/build/image/bin/api-ms-win-crt-runtime-l1-1-0.dll
/build/image/bin/api-ms-win-crt-stdio-l1-1-0.dll
/build/image/bin/api-ms-win-crt-string-l1-1-0.dll
/build/image/bin/api-ms-win-crt-time-l1-1-0.dll
/build/image/bin/api-ms-win-crt-utility-l1-1-0.dll
/build/image/legal/java.base/asm.md
/build/image/bin/awt.dll
/build/classes/java/main/application/poker/game/Bank.class
/build/image/legal/java.xml/bcel.md
/build/resources/main/cards/black_joker.png
/build/image/lib/security/blacklisted.certs
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build/image/legal/java.base/c-libutl.md
/build/image/lib/security/cacerts
/.gradle/buildOutputCleanup/cache.properties
/build/classes/java/main/application/poker/game/Card.class
/build/classes/java/main/application/poker/game/CardComparator.class
/.gradle/checksums/checksums.lock
/.gradle/5.2.1/javaCompile/classAnalysis.bin
/.gradle/5.6.1/javaCompile/classAnalysis.bin
/.gradle/6.5.1/javaCompile/classAnalysis.bin
/build/image/include/classfile_constants.h
/build/image/lib/classlist
/build/image/legal/java.base/cldr.md
/build/image/legal/java.desktop/colorimaging.md
/.idea/compiler.xml
/build/image/legal/java.base/COPYRIGHT
/build/image/legal/java.datatransfer/COPYRIGHT
/build/image/legal/java.desktop/COPYRIGHT
/build/image/legal/java.net.http/COPYRIGHT
/build/image/legal/java.prefs/COPYRIGHT
/build/image/legal/java.scripting/COPYRIGHT
/build/image/legal/java.xml/COPYRIGHT
/build/image/legal/jdk.jsobject/COPYRIGHT
/build/image/legal/jdk.unsupported/COPYRIGHT
/build/image/legal/jdk.unsupported.desktop/COPYRIGHT
/build/image/legal/jdk.xml.dom/COPYRIGHT
/build/classes/java/main/application/poker/game/Deck.class
/build/image/lib/security/default.policy
/build/image/conf/security/policy/limited/default_local.policy
/build/image/conf/security/policy/unlimited/default_local.policy
/build/image/conf/security/policy/limited/default_US_export.policy
/build/image/conf/security/policy/unlimited/default_US_export.policy
/build/image/legal/java.xml/dom.md
/.gradle/5.2.1/executionHistory/executionHistory.bin
/.gradle/5.6.1/executionHistory/executionHistory.bin
/.gradle/6.5.1/executionHistory/executionHistory.bin
/.gradle/5.2.1/executionHistory/executionHistory.lock
/.gradle/5.6.1/executionHistory/executionHistory.lock
/.gradle/6.5.1/executionHistory/executionHistory.lock
/build/image/conf/security/policy/limited/exempt_local.policy
/.gradle/5.2.1/fileContent/fileContent.lock
/.gradle/5.6.1/fileContent/fileContent.lock
/.gradle/6.5.1/fileContent/fileContent.lock
/.gradle/5.2.1/fileHashes/fileHashes.bin
/.gradle/5.6.1/fileHashes/fileHashes.bin
/.gradle/6.5.1/fileHashes/fileHashes.bin
/.gradle/5.2.1/fileHashes/fileHashes.lock
/.gradle/5.6.1/fileHashes/fileHashes.lock
/.gradle/6.5/fileHashes/fileHashes.lock
/.gradle/6.5.1/fileHashes/fileHashes.lock
/build/image/lib/fontconfig.bfc
/build/image/lib/fontconfig.properties.src
/build/image/bin/fontmanager.dll
/build/image/bin/freetype.dll
/build/image/legal/java.desktop/freetype.md
/build/classes/java/main/application/poker/game/Game.class
/.gradle/5.2.1/gc.properties
/.gradle/5.6.1/gc.properties
/.gradle/6.5/gc.properties
/.gradle/6.5.1/gc.properties
/.gradle/vcs-1/gc.properties
/build/image/legal/java.desktop/giflib.md
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_openjfx_javafx_base_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_base_win_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_controls_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_controls_win_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_fxml_win_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_graphics_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_graphics_win_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_media_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_media_win_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_swing_win_16.xml
/.idea/libraries/Gradle__org_openjfx_javafx_web_win_16.xml
/gradlew
/gradlew.bat
/build/classes/java/main/application/poker/game/Hand.class
/build/image/legal/java.desktop/harfbuzz.md
/build/image/legal/java.base/icu.md
/build/resources/main/cards/jack_of_diamonds.png
/build/resources/main/cards/jack_of_hearts.png
/build/resources/main/cards/jack_of_spades.png
/.idea/jarRepositories.xml
/build/image/bin/java.dll
/build/image/bin/java.exe
/build/image/conf/security/java.policy
/build/image/conf/security/java.security
/.gradle/5.2.1/javaCompile/javaCompile.lock
/.gradle/5.6.1/javaCompile/javaCompile.lock
/.gradle/6.5.1/javaCompile/javaCompile.lock
/build/jlinkbase/jlinkjars/javafx-base-16-win.jar
/build/jlinkbase/jlinkjars/javafx-controls-16-win.jar
/build/jlinkbase/jlinkjars/javafx-fxml-16-win.jar
/build/jlinkbase/jlinkjars/javafx-graphics-16-win.jar
/build/jlinkbase/jlinkjars/javafx-media-16-win.jar
/build/jlinkbase/jlinkjars/javafx-swing-16-win.jar
/build/jlinkbase/jlinkjars/javafx-web-16-win.jar
/build/image/bin/javajpeg.dll
/build/image/bin/javaw.exe
/build/image/bin/jawt.dll
/build/image/include/jawt.h
/build/image/lib/jawt.lib
/build/image/include/win32/jawt_md.h
/build/image/legal/java.xml/jcup.md
/build/image/bin/jimage.dll
/build/image/bin/jli.dll
/build/image/include/jni.h
/build/image/include/win32/jni_md.h
/build/image/legal/java.desktop/jpeg.md
/build/image/lib/jrt-fs.jar
/build/image/bin/jrunscript.exe
/build/image/bin/jsound.dll
/build/image/lib/jvm.cfg
/build/image/bin/server/jvm.dll
/build/image/lib/jvm.lib
/build/image/include/jvmti.h
/build/image/include/jvmticmlr.h
/build/image/bin/keytool.exe
/build/resources/main/cards/king_of_clubs.png
/build/resources/main/cards/king_of_diamonds.png
/build/resources/main/cards/king_of_hearts.png
/build/resources/main/cards/king_of_spades.png
/.gradle/5.2.1/fileChanges/last-build.bin
/.gradle/5.6.1/fileChanges/last-build.bin
/.gradle/6.5/fileChanges/last-build.bin
/.gradle/6.5.1/fileChanges/last-build.bin
/build/image/bin/lcms.dll
/build/image/legal/java.desktop/lcms.md
/build/image/legal/java.desktop/libpng.md
/build/image/legal/java.base/LICENSE
/build/image/legal/java.datatransfer/LICENSE
/build/image/legal/java.desktop/LICENSE
/build/image/legal/java.net.http/LICENSE
/build/image/legal/java.prefs/LICENSE
/build/image/legal/java.scripting/LICENSE
/build/image/legal/java.xml/LICENSE
/build/image/legal/jdk.jsobject/LICENSE
/build/image/legal/jdk.unsupported/LICENSE
/build/image/legal/jdk.unsupported.desktop/LICENSE
/build/image/legal/jdk.xml.dom/LICENSE
/build/classes/java/main/application/poker/game/Main$1.class
/build/classes/java/main/application/poker/game/Main$2.class
/build/classes/java/main/application/poker/game/Main$3.class
/build/classes/java/main/application/poker/game/Main.class
/build/tmp/jar/MANIFEST.MF
/.gradle/checksums/md5-checksums.bin
/build/image/legal/java.desktop/mesa3d.md
/.idea/misc.xml
/build/image/bin/mlib_image.dll
/build/jlinkbase/tmpmodinfo/module-info.class
/build/image/lib/modules
/.idea/modules.xml
/build/image/bin/msvcp140.dll
/build/resources/main/my-resource.txt
/build/image/bin/net.dll
/build/image/conf/net.properties
/build/image/bin/nio.dll
/build/image/legal/java.desktop/opengl.md
/.gradle/buildOutputCleanup/outputFiles.bin
/build/classes/java/main/application/poker/game/Player.class
/build/image/bin/pokerGameGA
/build/image/bin/pokerGameGA.bat
/.idea/pokerGameGA.iml
/.idea/modules/pokerGameGA.main.iml
/build/jlinkbase/jlinkjars/pokerGameGA.merged.module-1.0-SNAPSHOT.jar
/build/jlinkbase/tmpmerged/pokerGameGA.merged.module-1.0-SNAPSHOT.jar
/.idea/modules/pokerGameGA.test.iml
/build/jlinkbase/jlinkjars/pokerGameGA-1.0-SNAPSHOT.jar
/build/libs/pokerGameGA-1.0-SNAPSHOT.jar
/.idea/artifacts/pokerGameGA_jar.xml
/build/image/bin/prefs.dll
/build/image/lib/psfont.properties.ja
/build/image/lib/psfontj2d.properties
/build/image/legal/java.base/public_suffix.md
/build/image/lib/security/public_suffix_list.dat
/build/resources/main/cards/queen_of_clubs.png
/build/resources/main/cards/queen_of_diamonds.png
/build/resources/main/cards/queen_of_hearts.png
/build/resources/main/cards/queen_of_spades.png
/build/image/conf/security/policy/README.txt
/build/resources/main/cards/red_joker.png
/build/image/release
/build/classes/java/main/application/poker/game/Seat.class
/.gradle/checksums/sha1-checksums.bin
/build/image/conf/sound.properties
/build/tmp/compileJava/source-classes-mapping.txt
/build/image/bin/splashscreen.dll
/build/classes/java/main/application/poker/game/Stats.class
/build/classes/java/main/application/poker/game/Table.class
/.gradle/5.2.1/javaCompile/taskHistory.bin
/.gradle/5.6.1/javaCompile/taskHistory.bin
/.gradle/6.5.1/javaCompile/taskHistory.bin
/build/image/lib/tzdb.dat
/build/image/lib/tzmappings
/build/image/bin/ucrtbase.dll
/build/image/legal/java.base/unicode.md
/build/image/bin/vcruntime140.dll
/.idea/vcs.xml
/build/image/bin/verify.dll
/.idea/workspace.xml
/build/image/legal/java.xml/xalan.md
/build/image/legal/java.xml/xerces.md
/build/image/bin/zip.dll
/build/image/legal/java.base/zlib.md
